@use "../../../styles.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: $mp3;

  & > .content {
    display: flex;
    gap: $mp5;
  }

  & .content > div {
    width: 100%;
  }

  & .left-form > form {
    display: flex;
    flex-direction: column;
    gap: $mp6;

    & span {
      display: flex;
      flex-direction: column;
      gap: $mp1;

      & label {
        font-weight: 700;
      }
    }

    .p-inputtext {
      font-size: $fs4;
      padding: $mp3 $mp2;
    }
  }

  & .cta {
    display: flex;
    gap: $mp4;
    justify-content: flex-end;
  }

  .p-button {
    padding: $mp2 $mp4;
    margin-inline: $mp1;
  }
}

