@use "../../../styles.scss" as *;

.container {

  & > .content {
    margin-block: $mp4;
    @media (min-width: $desktop-bp) {
      display: flex;
      gap: $mp5;
      margin: 0;
    }
  }

  & .content > div {
    width: 100%;
  }

  & .left-form {
    margin-block: $mp4;
    & > form {
      display: flex;
      flex-direction: column;
      gap: $mp6;

      & span {
        display: flex;
        flex-direction: column;
        gap: $mp1;

        & label {
          font-weight: 600;
        }
      }

      .p-inputtext {
        font-size: $fs4;
        padding: $mp3 $mp2;
      }
    }
  }

  & .cta {
    display: flex;
    gap: $mp4;
    justify-content: center;
    @media (min-width: $desktop-bp) {
      justify-content: flex-end;
    }
  }

  .p-button {
    padding: $mp2 $mp4;
    margin-inline: $mp1;
  }
}

