<section class="getstarted container">
  <div class="getstarted__header">
    <h2>Let's get down to business.</h2>
    <h3>Get started below and we will be with you all steps of the way</h3>
  </div>

  <ul class="getstarted__links">
    <li>
      <a href="#" class="getstarted__link">
        <img src="../../../../assets/SVGs/user added.svg" alt="">
        <h4>
          Add Client
        </h4>
      </a>
    </li>

    <li>
      <a href="#" class="getstarted__link">
        <img src="../../../../assets/SVGs/note rolled.svg" alt="">
        <h4>
          Create Invoice
        </h4>
      </a>
    </li>

    <li>
      <a href="#" class="getstarted__link">
        <img src="../../../../assets/SVGs/records.svg" alt="">
        <h4>
          Manage Bookkeeping
        </h4>
      </a>
    </li>
  </ul>
</section>
