@use "../../../styles.scss" as *;

img {
  width: 150px;
}

.getstarted {
  height: 100%;
  padding-block: $mp4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: $mp5;

  &__header {
    width: min(70%, 800px);
    h2 {
      margin-bottom: $mp4;
      font-size: $fs7;
    }

    h3 {
      color: red;
    }
  }

  &__links {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    & > li {
      outline: 1px solid #eee;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      margin: $mp4;
      &:hover {
        outline: none;
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
      }

      a {
        padding: $mp5;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $mp4;

        h4 {
          font-size: $fs5;
        }
      }
    }
  }
}

