<div class="signup container">

    <div class="signup__hero">
      <div>
        <div class="signup__hero__info">
          <h3> Your <br/> Bookkeeping <br/> in one place. </h3>
          <p> Keep online and offline transactions in sync </p>
        </div>
        <img src="../../../assets/SVGs/Finlog contrast.svg" alt="Finlog Logo" class="hero__logo">
      </div>
    </div>

    <div class="signup__form">
      <div class="fluid">
        <div class="signin__cta">
          <p>Already have an account? <a href="/">Sign in</a></p>
        </div>
        <div class="signup__form__header">
          <img src="../../../assets/SVGs/Finlog.svg" alt="Finlog Logo">
          <h3>Welcome</h3>
          <h4>Register your account</h4>
        </div>
        <div class="signup__form__username">
          <h5>Email</h5>
          <input pInputText type="text">
        </div>
        <div class="signup__form__password">
          <h5>Password</h5>
          <p-password [showClear]="true" [feedback]="false" [toggleMask]="true"></p-password>
        </div>
        <button pButton pRipple type="button" label="Create an account" class="signup__form__btn"></button>
        <p-divider align="center">
          <p>or sign up with</p>
        </p-divider>
        <div class="signup__form__alternatives">
          <a href="/"><img src="../../../assets/PNGs/google.png" alt="google-signin"></a>
          <a href="/"><img src="../../../assets/PNGs/facebook.png" alt="google-signin"></a>
        </div>
      </div>
    </div>

</div>
