<div class="client container">

  <div class="client__header">
    <p>Marcus Customer</p>
    <div class="action-buttons">
      <button pButton pRipple type="button" label="Edit Customer" class="p-button-outlined p-button-rounded edit"></button>
      <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
    </div>
  </div>

  <div class="client__details">
    <p-avatar label="K" size="xlarge" shape="circle"></p-avatar>
    <h3>Muili</h3>
    <p>Muiliquazeem@gmail.com</p>
    <p>+2348170038313</p>
    <div>
      <button pButton pRipple type="button" label="Edit"></button>
    </div>
    <p-divider> </p-divider>
    <h3>Billing Address</h3>
    <p>Address 1,</p>
    <p>City,</p>
    <p>State,</p>
    <p>Country</p>
  </div>

  <div class="client__overview">
    <h3>Overview</h3>
    <div class="overview-grid">
      <div class="">
        <p>Paid last 12 Months</p>
        <p>#34,500</p>
      </div>

      <div class="">
        <p>Total Unpaid</p>
        <p>#34,500</p>
      </div>

      <div class="">
        <p>Invoice</p>
        <p>24</p>
        <button pButton pRipple type="button" label="Create new invoice" class="p-button-outlined p-button-rounded"></button>
      </div>

      <div class="">
        <p>Estimate</p>
        <p>24</p>
        <button pButton pRipple type="button" label="Create new estimate" class="p-button-outlined p-button-rounded"></button>
      </div>
    </div>
  </div>
</div>
